<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="">
        <% @entries.each do |e| %>
          <% if current_user.id != e.user.id %>
            <h2 class="my-3"><%= e.user.name %>さんとのトークルーム</h2>
          <% end %>
        <% end %>
        <%= link_to "ユーザー一覧に戻る", users_path %><br>

        <% if @room.direct_messages.present? %>
          <% @room.direct_messages.each do |m| %>
            <%= m.user.name %>
            <%= m.message %>
            <%= link_to '削除', direct_message_path(m), method: :delete, data: { confirm: '本当に削除しますか？' } %>
          <% end %>
        <% else %>
          <p>まだメッセージはありません</p>
        <% end %>

        <%= form_with model: @message do |f| %>
          <%= f.text_area :message, placeholder: "メッセージはここに", size: 50, class: "form-control mt-5" %>
          <%= f.hidden_field :room_id, value: @room.id %><br>
          <%= f.submit "post", class: "btn btn-info form-control" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
